<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeowAvQhMznarfCkLVm4hf_a_4o4EQKuM</string>
	<key>GCM_SENDER_ID</key>
	<string>699770571900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.chancoin</string>
	<key>PROJECT_ID</key>
	<string>chan-app-coin</string>
	<key>STORAGE_BUCKET</key>
	<string>chan-app-coin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699770571900:ios:e3cdb3f0f98129e4e80df9</string>
</dict>
</plist>